/target/
/bin/
.classpath
.settings/*
.project
.project
.settings
.classpath
test-output
.DS_Store
.idea
*.ipr
*.iws
*.iml
*.orig
.idea/
log/
atlassian-ide-plugin.xml
*.log
*.rdb
*.idea
*.pyc
*.mvn
*mvnw
*.cmd
tugboat_logs/
doc/
target
temp
out/
*~
/pom.xml.releaseBackup
/release.properties
/nbproject/
/bin/
/pom.xml.versionsBackup
/.editorconfig
/test.out
nb-configuration.xml
